
body {
    background-image: url("../images/background.jpg");
    padding: 10px;
    width: 100%;
    height: 100%;
    background-size: cover;
    text-align: center;

}

.divTrivia { 
    border: solid white;
    background-color: rgb(255, 255, 255, 0.55);
    position: relative;
    display: inline-block;
    text-align: left;
}

.choice {
    cursor: pointer;
}

.divQuestion, .divChoices {
    transition: opacity .5s ease-in-out;
}